*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root{
  --main: #D93636;
  --secundary: #D93636 ;
  --white: #fff;
  --card-background: #f2f2f0 ;
  --text:#403f37 ;
  --container : #bfbfbf ;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: var(--text);
}